{block content}

<p><a n:href="Movie:default">← zpět na výpis příspěvků</a></p>

<h2>Detail záznamu</h2>

<table>
    <tr>
        <td>
            Name
        </td>
        <td>
             {$item->name}
        </td>
    </tr>
    <tr>
        <td>
            Description
        </td>
        <td>
             {$item->description}
        </td>
    </tr>
</table>
